In [1]:
import pandas as pd

In [14]:
pd.set_option("display.max_columns", 31)

## Index

In [6]:
df_index_prices = pd.read_csv("../data/raw/mkt_index_price_brax11.csv")

In [10]:
df_index_prices.tail()

            Date  Adj Close
2600  2021-10-05  92.839996
2601  2021-10-06  92.650002
2602  2021-10-07  92.699997
2603  2021-10-08  94.800003
2604  2021-10-11  94.669998

In [23]:
df_index_prices.isnull().sum()

Date         0
Adj Close    0
dtype: int64

## Top 30 prices

In [7]:
df_top30_prices = pd.read_csv("../data/raw/top30_stocks_price_within_brax11.csv")

In [15]:
df_top30_prices.tail()

,Date,ALPA4.SA,AMAR3.SA,ASAI3.SA,BBDC3.SA,BRDT3.SA,BRKM5.SA,BRML3.SA,COGN3.SA,CRFB3.SA,CSMG3.SA,ECOR3.SA,EGIE3.SA,ELET6.SA,ENBR3.SA,ENGI11.SA,EQTL3.SA,EZTC3.SA,FLRY3.SA,GNDI3.SA,HAPV3.SA,JBSS3.SA,JHSF3.SA,LAME4.SA,LCAM3.SA,MGLU3.SA,RAIL3.SA,SAPR11.SA,SUZB3.SA,TAEE11.SA,TRPL4.SA
2883,2021-10-05,48.689999,5.25,19.172966,17.969999,23.650000,59.680000,7.92,2.77,18.059999,13.64,8.61,37.049999,37.279999,17.840000,43.880001,24.440001,22.920000,21.139999,71.379997,12.83,37.570000,5.83,4.70,23.590000,13.68,17.000000,18.600000,50.349998,35.470001,24.170000
2884,2021-10-06,47.779999,5.26,19.120001,18.040001,23.250000,57.000000,7.96,2.78,18.180000,13.63,8.80,37.380001,36.799999,17.639999,42.910000,24.150000,23.059999,21.139999,70.500000,12.59,37.740002,5.64,4.96,23.620001,14.46,18.230000,18.530001,49.689999,35.779999,24.260000
2885,2021-10-07,46.830002,5.18,18.920000,17.660000,24.049999,56.639999,7.89,2.91,17.830000,13.60,8.84,37.220001,37.430000,17.820000,43.310001,24.280001,22.820000,21.139999,70.099998,12.50,36.700001,5.54,4.82,23.299999,14.03,17.639999,18.709999,49.430000,35.939999,24.030001
2886,2021-10-08,47.290001,5.40,18.299999,17.930000,24.709999,57.889999,8.41,3.01,18.090000,13.83,9.62,37.580002,38.439999,18.320000,44.520000,24.620001,23.940001,21.270000,72.000000,12.87,37.389999,5.88,5.00,24.500000,14.97,18.240000,19.120001,49.310001,36.580002,24.410000
2887,2021-10-11,47.110001,5.34,17.330000,17.600000,24.850000,56.200001,8.30,2.96,17.889999,13.84,9.58,38.020000,39.209999,18.690001,45.279999,24.450001,23.500000,21.290001,72.080002,12.92,37.790001,5.90,5.00,24.200001,14.41,18.120001,19.410000,50.599998,36.630001,24.600000

In [32]:
df_top30_prices.dropna()["Date"].min()

'2021-03-01'

In [24]:
df_top30_prices.isnull().sum()

Date            0
ALPA4.SA        8
AMAR3.SA        5
ASAI3.SA     2732
BBDC3.SA        3
BRDT3.SA     2005
BRKM5.SA        5
BRML3.SA       11
COGN3.SA      668
CRFB3.SA     1840
CSMG3.SA        8
ECOR3.SA       37
EGIE3.SA        3
ELET6.SA       18
ENBR3.SA       12
ENGI11.SA     666
EQTL3.SA       11
EZTC3.SA       15
FLRY3.SA       10
GNDI3.SA     2032
HAPV3.SA     2035
JBSS3.SA       13
JHSF3.SA       15
LAME4.SA       87
LCAM3.SA      545
MGLU3.SA      302
RAIL3.SA     1276
SAPR11.SA    1953
SUZB3.SA     1900
TAEE11.SA     174
TRPL4.SA        5
dtype: int64

## Top 30 Market Cap

In [8]:
df_top30_mktcap = pd.read_csv("../data/raw/top30_stocks_mktcap_within_brax11.csv")

In [22]:
df_top30_mktcap.head()

     ticker      mkt_cap
0  EGIE3.SA  30956306432
1  ECOR3.SA   5367824896
2  ENBR3.SA  10889498624
3  AMAR3.SA   1406853888
4  JHSF3.SA   4083032576

In [25]:
df_top30_mktcap.isnull().sum()

ticker     0
mkt_cap    0
dtype: int64

## USD BRL FX

In [33]:
df_usdbrl = pd.read_csv("../data/raw/usdbrl_fx.csv")

In [34]:
df_usdbrl.tail()

            Date  Adj Close
4200  2021-10-06     5.4755
4201  2021-10-07     5.4919
4202  2021-10-08     5.5170
4203  2021-10-11     5.5069
4204  2021-10-12     5.5270

In [35]:
df_usdbrl.isnull().sum()

Date         0
Adj Close    0
dtype: int64